<a href="https://colab.research.google.com/github/sanjana-s-tech/Sanjana-S-E25AI141/blob/main/csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Read from CSV
df=pd.read_csv('WEEK 2 PROJECT DATA.csv')

In [ ]:
#Find null values
print(df.isnull().sum())

Pammal    2
DHONI     0
100000    4
dtype: int64

In [ ]:
#Replacing numeric null values with mean
df_fill_mean = df.fillna(df.mean(numeric_only=True))
print("\nDataset after Replacing Numeric Missing Values with Mean:\n", df_fill_mean.head())

Dataset after Replacing Numeric Missing Values with Mean:
         Pammal   DHONI   100000
0        avadi   virat  77000.0
1  pozhichalur  pandya  55000.0
2        Avadi  Krunal  52000.0
3       musiri  manish  60000.0
4       trichy  chahar  43000.0

In [ ]:
#Replacing categorical null values with mode
df_fill_const = df.fillna("Unknown")
print("\nDataset after Replacing Missing Values with Constant:\n", df_fill_const.head())

Dataset after Replacing Missing Values with Constant:
         Pammal   DHONI   100000
0        avadi   virat  77000.0
1  pozhichalur  pandya  55000.0
2        Avadi  Krunal  52000.0
3       musiri  manish  60000.0
4       trichy  chahar  43000.0

In [ ]:
#write it to a cleaned CSV file
df.to_csv(index=False)

'Pammal,DHONI,100000\navadi,virat,77000.0\npozhichalur,pandya,55000.0\nAvadi,Krunal,52000.0\nmusiri,manish,60000.0\ntrichy,chahar,43000.0\nOMR,sam,\n,tom,33000.0\nvandalur,pathirana,41000.0\nbeanagar,jadeja,\nOMR,raina,70000.0\nOMR,Rohit,\nvillupuram,bravo,45000.0\n,ashwin,76000.0\ntrichy,Hussey,66000.0\nandhra,gaile,30000.0\nnagore,SKY,75000.0\ntrichy,noor,52000.0\npondicherry,chahal,\ntrichy,sanju,45000.0\n'